{:outbounds
 [{:tag "proxy-out"
   :type "vless"
   :server nil
   :server_port nil
   :uuid nil
   :flow "xtls-rprx-vision"
   :network "tcp"
   :tls
   {:enabled true
    :server_name nil
    :utls {:enabled true :fingerprint nil}
    :reality {:enabled true :public_key nil :short_id nil}}}
  {:tag "direct-out" :type "direct"}]}
