{:outbounds
 [{:tag "vless-out"

   :protocol "vless"

   :settings
   {:vnext
    [{:address nil
      :port nil
      :users
      [{:id nil
        :flow "xtls-rprx-vision"
        :encryption "none"
        :level 0}]}]}

   :streamSettings
   {:network "tcp"
    :security "reality"
    :realitySettings
    {:fingerprint "chrome"
     :serverName nil
     :publicKey nil
     :spiderX nil
     :shortId nil}}}]}
